<dom-module id="page-footer">
    <style>
        :host {
            color: #fff;
            background-color: #607d8b;
            display: block;
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            height: 85px;
            padding: 32px;
        }
    </style>

    <template>
        <div>
            <h1>This is a footer</h1>
            This is a footer
        </div>
    </template>

    <script>
        Polymer({
            is: "page-footer"
        });
    </script>

</dom-module>
